
.carrusel {
  display: flex;
  gap: 10px;
  padding: 5px 10px 10px 10px;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
}

.foto {
  position: relative;
  scroll-snap-align: center;
  border-radius: 15px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;;
  align-items: center;
}

.foto:hover {
  transform: scale(1.05);
}

.carrusel::-webkit-scrollbar {
  display: none;
}

.foto img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 10px;
}

@media screen and (min-width: 1024px) {
  .foto img {
    width: 200px;
    height: auto;
  }
}


