h1 {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  padding-left: 10px;
  margin-top: 40px;
  margin-bottom: 5px;
  padding-left: 10px;
}

@media screen and (min-width: 1024px) {
  h1 {
    margin-top: 0px;
  }
}