.header-productos {
    display: flex;
    align-items: center;
    gap: 10px;   
    color: white;
    margin-bottom: 20px;
    margin-top: 30px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    width: 100%; 
    height: 30px;
    justify-content: space-between; 
    padding: 0px;
    background-color: transparent;
}

h1 {
    padding-top: 20px;
    padding-left: 20px;
}

#titulo-productos {
    background-color: rgba(45, 35, 39, 1);
    color: white;
    font-size: 25px;
    display: inline-block; 
    padding: 10px 40px;  
    border-top-right-radius: 30px;  
    border-bottom-right-radius: 30px;
}

.empresa {
    display: flex;
    align-items: flex-start; 
    gap: 20px; 
    padding-left: 30px;
}

.historia {
    align-items: flex-start;
    display: flex; 
    justify-content: center; 
}

.foto-emprendedor {
    width: 40%;
    height: 150px;
    border-radius: 20px;
}

.sociales {
  display: flex;
  flex-direction: column; 
  gap: 2px; 
  padding-top: 10px;
}

.red {
  display: flex;
  align-items: center; 
  gap: 15px; 
}

.icono {
  width: 30px;
  height: 30px;
  padding-left: 30px;
}

#facebook {
    width: 20px;
    height: 20px;
    padding-left: 35px;
    border-radius: 2px;
}

.sociales p {
    margin: 0px;
    padding-left: 30px;
    padding-top: 0px;
}

.filtrar {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 5px 10px;
    cursor: pointer;
    background-color: transparent;
    border: none;
    font-family: "Noto Serif", serif;
    font-size: 15px;
}

.icono-filtrar {
    width: 16px;
    height: 16px;
    padding-right: 20px;
}

@media screen and (min-width: 1024px) {
  h1 {
    font-size: 40px;
    margin-top: 0px;
    padding-top: 0px;
  }

  .foto-emprendedor {
    width: 40%;
    height: 300px;
    border-radius: 20px;
    }

    .historia {
        font-size: 20px;
    }

}