body {
  margin: 0px;
}

header {
  background-color: rgb(45, 35, 39);
  display: grid;
  grid-template-columns: auto auto 1fr auto auto; 
  grid-template-areas:
    "barras logo espacio favoritos carrito"
    "buscador buscador buscador buscador buscador"; 
  align-items: center;
  justify-items: center;
  padding: 20px;
  box-sizing: border-box;
  width: 100%;
  position: fixed;
  z-index: 9999;
  top: 0;
}

.barras { 
  grid-area: barras; 
}

.logo { 
  grid-area: logo; 
  width: 40px;
}

.favoritos {
  grid-area: favoritos;
}

.carrito { 
  grid-area: carrito; 
}

.buscador { 
  grid-area: buscador; 
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  margin-top: 5px;
}

.espacio { 
  grid-area: espacio; 
}

header img, footer img {
  width: 28px;
  height: auto;
  max-width: 100%;
  cursor: pointer;
  padding: 5px;
}

.search-input {
  width: 100%;
  padding: 6px 10px 6px 40px;
  border: none;
  border-radius: 20px;
  font-size: 14px;
}

.lupa {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  width: 16px;
  pointer-events: none; 
}

@media screen and (min-width: 1024px) {
  header {
    display: grid;
    grid-template-columns: auto auto 1fr auto auto;
    grid-template-areas: 
      "barras logo buscador favoritos carrito";
    padding: 10px 20px; 
    align-items: center;
  }

  .buscador {
    margin-top: 0; 
  }
}