
main {
  padding-top: 100px;
  display: grid;
}

.imagen-container {
  margin: 40px 10px 0 10px; 
  border-radius: 20px;
  overflow: hidden;
}

.imagen-hechoNL {
  width: 100%;
  height: 20vh;
  object-fit: cover;
  object-position: center 70%;
  display: block;
}

h2 {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  padding-left: 10px;
  margin-top: 3;
  margin-bottom: 5px;
  padding-left: 10px;
}

@media screen and (min-width: 1024px) {
  .categorias {
    gap: 15px; 
  }

  .categoria img {
    width: 200px;  
    height: 160px; /
  }

  .categoria p {
    font-size: 20px; 
  }
}