.productos {
  display: grid;
  grid-template-columns: 1fr 1fr; 
  gap: 15px;
  padding: 0 10px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin: 0;
}

.imagen-producto {
  width: 100%;
  position: relative;
}

.imagen-producto:hover {
  transform: scale(1.05);
}

.imagen {
  width: 100%;
  height: 220px;
  border-radius: 20px;
  object-fit: cover;
}

.favorito-icon {
  position: absolute;
  bottom: 10px;
  right: 10px;
  width: 20px;
  height: 20px;
}

.nombre {
  margin: 3px 0 3px 0;
  font-weight: 600;
  text-align: center;
  font-family: 'Noto Serif', serif;
}

.precio {
  margin: 0 0 3px 0;
  font-weight: bold;
  color: rgba(246, 135, 41, 1);
  text-align: center;
  font-family: 'Inter', sans-serif;
}


@media screen and (min-width: 1024px) {
  .imagen-container {
    margin-top: 0; 
  }
  .productos {
    grid-template-columns: repeat(3, 1fr); 
    column-gap: 20px; 
    row-gap: 15px; 
  }
}
